on boot
    # brightness
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

service vendor.lights /system/bin/hw/android.hardware.lights-service.cezanne
    class hal
    user system
    group system
    shutdown critical
