allow hal_light vendor_sysfs_displayfeature:dir r_dir_perms;
allow hal_light vendor_sysfs_displayfeature:file rw_file_perms;
allow hal_light sysfs_led_lcd_bl:dir search;
allow hal_light sysfs_led_lcd_bl:dir r_file_perms;
allow hal_light sysfs_led_lcd_bl:file rw_file_perms;
allow hal_light sysfs_rgb_led:dir search;
allow hal_light sysfs_rgb_led:dir r_file_perms;
allow hal_light sysfs_rgb_led:file rw_file_perms;
