on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.vendor.vilte_support 0

on post-fs-data
    # Services
    setprop init.svc.console stopped

on post-fs

on property:sys.boot_completed=1

service prop-adap-core-gsi /odm/bin/self-init gsicore
    class core
    user root
    group root system radio
    oneshot
    override
    disabled

service prop-adap-main-gsi /odm/bin/self-init gsimain
    class main
    user root
    group root system radio
    oneshot
    override
    disabled

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled