on init
    mount none /vendor/lost+found /vendor/overlay bind
    setprop sys.usb.ffs.aio_compat 1
    setprop persist.vendor.vilte_support 0
    # Bind mount the fstab file with the one in /vendor/etc/
    mount none /system/etc/fstab.mt6889 /vendor/etc/fstab.mt6889 bind
    # Bind mount the config file with the one in /vendor/etc/
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    # Bind mount the lights HAL with the one in /vendor/bin/hw/
    mount none /system/bin/hw/android.hardware.lights-service.mediatek /vendor/bin/hw/android.hardware.lights-service.mediatek bind

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    # Services
    stop console

on property:sys.boot_completed=1
    # ZRAM
    swapon_all /vendor/fstab.mt6889
    write /proc/sys/vm/swappiness 70
    # switch to schedutil
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "schedutil"
    # start EAS+
    write /sys/devices/system/cpu/eas/enable 1

on charger
    start charger

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

service prop-adap-core-gsi /odm/bin/self-init gsicore
    class core
    user root
    group root system radio
    oneshot
    override
    disabled

service prop-adap-main-gsi /odm/bin/self-init gsimain
    class main
    user root
    group root system radio
    oneshot
    override
    disabled

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled